<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">gp.logs</Property>
		<Property name="archive">${log-path}/archive</Property>
	</Properties>

	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				
			</PatternLayout>
		</Console>
		<File name="File-Appender" fileName="${log-path}/xmlfilelog.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="error">
			<AppenderRef ref="File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="com.gp.dao.impl.AuditDAOImpl" level="error">
			<AppenderRef ref="File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="com.gp.dao.impl.IdSettingDAOImpl" level="error">
			<AppenderRef ref="File-Appender"  />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="com.gp.svc.impl.CommonServiceImpl" level="error">
			<AppenderRef ref="File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="com.gp.pool.ByteBufferPool" level="error">
			<AppenderRef ref="File-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console-Appender" />
			<AppenderRef ref="File-Appender" />
		</Root>
	</Loggers>
</Configuration>